In [24]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re

In [25]:
r = requests.get("https://www.numbeo.com/cost-of-living/country_price_rankings?itemId=105", cookies={"srb_1":"1_wl"})

soup = BeautifulSoup(r.text, "html.parser")

salaries = soup.find_all("tr", class_="tr_standard")
print(salaries)

[<tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
1.
</td><td style="vertical-align: top">
Switzerland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 100%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
5,840.44 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
2.
</td><td style="vertical-align: top">
Qatar</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 91%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
5,314.95 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
3.
</td><td style="vertical-align: top">
Singapore</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 79%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
4,619.45 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
4.
</td><td style="vertical-align: top">
United States</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 71%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
4,145.13 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
5.
</td><td style="vertical-align: top">
Australia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 70%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
4,114.14 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
6.
</td><td style="vertical-align: top">
United Arab Emirates</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 63%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,670.71 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
7.
</td><td style="vertical-align: top">
New Zealand</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 59%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,441.54 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
8.
</td><td style="vertical-align: top">
Denmark</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 59%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,420.77 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
9.
</td><td style="vertical-align: top">
Norway</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 58%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,411.33 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
10.
</td><td style="vertical-align: top">
Netherlands</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 56%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,258.91 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
11.
</td><td style="vertical-align: top">
Bahrain</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 55%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,217.55 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
12.
</td><td style="vertical-align: top">
Iceland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 54%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,159.29 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
13.
</td><td style="vertical-align: top">
Canada</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 53%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,105.75 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
14.
</td><td style="vertical-align: top">
Hong Kong</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 51%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,994.43 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
15.
</td><td style="vertical-align: top">
Germany</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 49%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,875.67 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
16.
</td><td style="vertical-align: top">
Ireland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 48%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,812.65 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
17.
</td><td style="vertical-align: top">
United Kingdom</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 47%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,773.25 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
18.
</td><td style="vertical-align: top">
Kuwait</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 45%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,651.02 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
19.
</td><td style="vertical-align: top">
Israel</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 45%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,650.24 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
20.
</td><td style="vertical-align: top">
Sweden</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 45%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,639.68 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
21.
</td><td style="vertical-align: top">
Finland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 45%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,637.31 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
22.
</td><td style="vertical-align: top">
Japan</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 43%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,540.15 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
23.
</td><td style="vertical-align: top">
Belgium</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 42%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,466.16 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
24.
</td><td style="vertical-align: top">
France</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 41%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,414.80 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
25.
</td><td style="vertical-align: top">
Austria</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 40%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,320.41 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
26.
</td><td style="vertical-align: top">
Saudi Arabia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 39%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,251.76 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
27.
</td><td style="vertical-align: top">
South Korea</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 38%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,217.88 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
28.
</td><td style="vertical-align: top">
Spain</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 30%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,776.58 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
29.
</td><td style="vertical-align: top">
Puerto Rico</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 29%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,696.45 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
30.
</td><td style="vertical-align: top">
Italy</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 27%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,553.82 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
31.
</td><td style="vertical-align: top">
Taiwan</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 26%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,504.73 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
32.
</td><td style="vertical-align: top">
Czech Republic</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 25%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,451.28 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
33.
</td><td style="vertical-align: top">
Cyprus</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 23%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,352.32 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
34.
</td><td style="vertical-align: top">
Estonia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 22%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,303.52 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
35.
</td><td style="vertical-align: top">
Malta</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 22%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,293.25 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
36.
</td><td style="vertical-align: top">
South Africa</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 22%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,276.56 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
37.
</td><td style="vertical-align: top">
Slovenia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 21%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,247.40 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
38.
</td><td style="vertical-align: top">
Lithuania</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 19%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,106.58 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
39.
</td><td style="vertical-align: top">
China</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 19%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,090.72 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
40.
</td><td style="vertical-align: top">
Poland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 18%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,036.72 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
41.
</td><td style="vertical-align: top">
Portugal</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 18%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,029.51 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
42.
</td><td style="vertical-align: top">
Slovakia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 17%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
997.53 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
43.
</td><td style="vertical-align: top">
Croatia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 17%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
983.88 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
44.
</td><td style="vertical-align: top">
Latvia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 17%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
981.52 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
45.
</td><td style="vertical-align: top">
Malaysia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 15%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
877.85 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
46.
</td><td style="vertical-align: top">
Greece</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 14%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
840.64 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
47.
</td><td style="vertical-align: top">
Uruguay</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 14%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
828.22 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
48.
</td><td style="vertical-align: top">
Hungary</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 14%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
797.19 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
49.
</td><td style="vertical-align: top">
Trinidad And Tobago</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
784.09 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
50.
</td><td style="vertical-align: top">
Costa Rica</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
781.70 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
51.
</td><td style="vertical-align: top">
Bulgaria</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
756.16 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
52.
</td><td style="vertical-align: top">
Russia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
756.00 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
53.
</td><td style="vertical-align: top">
Iraq</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
747.29 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
54.
</td><td style="vertical-align: top">
Romania</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
746.77 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
55.
</td><td style="vertical-align: top">
Palestine</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
742.26 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
56.
</td><td style="vertical-align: top">
Panama</td><td style="width: 200px; vertical-align: middle">

In [36]:
countries = []
salaries_final = []
for salary in salaries:
    r = salary.find_all("td", class_="")
    rr = re.findall('(<td style="vertical-align: top">)\n([a-zA-Z ()]+)(<\/td>)',str(r[1]))
    country = rr[0][1]
    rr2 = re.findall('([0-9,.]+)', str(r[-1]))
    s = rr2[0]
    s = re.sub(',', '', s, count=0, flags=0)
    s = float(s)
    countries.append(country)
    salaries_final.append(s)

In [37]:
print(countries)
print(salaries_final)

['Switzerland', 'Qatar', 'Singapore', 'United States', 'Australia', 'United Arab Emirates', 'New Zealand', 'Denmark', 'Norway', 'Netherlands', 'Bahrain', 'Iceland', 'Canada', 'Hong Kong', 'Germany', 'Ireland', 'United Kingdom', 'Kuwait', 'Israel', 'Sweden', 'Finland', 'Japan', 'Belgium', 'France', 'Austria', 'Saudi Arabia', 'South Korea', 'Spain', 'Puerto Rico', 'Italy', 'Taiwan', 'Czech Republic', 'Cyprus', 'Estonia', 'Malta', 'South Africa', 'Slovenia', 'Lithuania', 'China', 'Poland', 'Portugal', 'Slovakia', 'Croatia', 'Latvia', 'Malaysia', 'Greece', 'Uruguay', 'Hungary', 'Trinidad And Tobago', 'Costa Rica', 'Bulgaria', 'Russia', 'Iraq', 'Romania', 'Palestine', 'Panama', 'Mexico', 'Lebanon', 'Jordan', 'Montenegro', 'Chile', 'Bosnia And Herzegovina', 'Jamaica', 'Serbia', 'India', 'Thailand', 'Mauritius', 'Ecuador', 'Belarus', 'Guatemala', 'Armenia', 'Bolivia', 'Kazakhstan', 'Vietnam', 'Argentina', 'El Salvador', 'Kosovo (Disputed Territory)', 'North Macedonia', 'Peru', 'Albania', 'Kenya', 'Ukraine', 'Moldova', 'Iran', 'Brazil', 'Dominican Republic', 'Morocco', 'Azerbaijan', 'Indonesia', 'Turkey', 'Philippines', 'Uzbekistan', 'Libya', 'Colombia', 'Tunisia', 'Algeria', 'Bangladesh', 'Nepal', 'Venezuela', 'Egypt', 'Nigeria', 'Pakistan', 'Ghana', 'Sri Lanka']
[5840.44, 5314.95, 4619.45, 4145.13, 4114.14, 3670.71, 3441.54, 3420.77, 3411.33, 3258.91, 3217.55, 3159.29, 3105.75, 2994.43, 2875.67, 2812.65, 2773.25, 2651.02, 2650.24, 2639.68, 2637.31, 2540.15, 2466.16, 2414.8, 2320.41, 2251.76, 2217.88, 1776.58, 1696.45, 1553.82, 1504.73, 1451.28, 1352.32, 1303.52, 1293.25, 1276.56, 1247.4, 1106.58, 1090.72, 1036.72, 1029.51, 997.53, 983.88, 981.52, 877.85, 840.64, 828.22, 797.19, 784.09, 781.7, 756.16, 756.0, 747.29, 746.77, 742.26, 741.03, 668.53, 642.91, 640.2, 625.09, 607.15, 594.93, 580.24, 573.18, 552.31, 529.32, 500.48, 496.05, 491.87, 486.39, 486.1, 456.19, 437.75, 436.39, 430.81, 415.0, 414.1, 410.4, 406.27, 401.08, 398.81, 397.48, 392.29, 391.28, 382.45, 374.39, 368.39, 358.65, 340.57, 325.87, 297.28, 286.56, 286.23, 283.49, 275.62, 263.1, 247.79, 194.42, 181.03, 170.78, 162.46, 161.16, 153.77, 145.47]

In [38]:
result = []
for i in range(len(countries)):
    result.append([countries[i], float(salaries_final[i])])
print(result)

[['Switzerland', 5840.44], ['Qatar', 5314.95], ['Singapore', 4619.45], ['United States', 4145.13], ['Australia', 4114.14], ['United Arab Emirates', 3670.71], ['New Zealand', 3441.54], ['Denmark', 3420.77], ['Norway', 3411.33], ['Netherlands', 3258.91], ['Bahrain', 3217.55], ['Iceland', 3159.29], ['Canada', 3105.75], ['Hong Kong', 2994.43], ['Germany', 2875.67], ['Ireland', 2812.65], ['United Kingdom', 2773.25], ['Kuwait', 2651.02], ['Israel', 2650.24], ['Sweden', 2639.68], ['Finland', 2637.31], ['Japan', 2540.15], ['Belgium', 2466.16], ['France', 2414.8], ['Austria', 2320.41], ['Saudi Arabia', 2251.76], ['South Korea', 2217.88], ['Spain', 1776.58], ['Puerto Rico', 1696.45], ['Italy', 1553.82], ['Taiwan', 1504.73], ['Czech Republic', 1451.28], ['Cyprus', 1352.32], ['Estonia', 1303.52], ['Malta', 1293.25], ['South Africa', 1276.56], ['Slovenia', 1247.4], ['Lithuania', 1106.58], ['China', 1090.72], ['Poland', 1036.72], ['Portugal', 1029.51], ['Slovakia', 997.53], ['Croatia', 983.88], ['Latvia', 981.52], ['Malaysia', 877.85], ['Greece', 840.64], ['Uruguay', 828.22], ['Hungary', 797.19], ['Trinidad And Tobago', 784.09], ['Costa Rica', 781.7], ['Bulgaria', 756.16], ['Russia', 756.0], ['Iraq', 747.29], ['Romania', 746.77], ['Palestine', 742.26], ['Panama', 741.03], ['Mexico', 668.53], ['Lebanon', 642.91], ['Jordan', 640.2], ['Montenegro', 625.09], ['Chile', 607.15], ['Bosnia And Herzegovina', 594.93], ['Jamaica', 580.24], ['Serbia', 573.18], ['India', 552.31], ['Thailand', 529.32], ['Mauritius', 500.48], ['Ecuador', 496.05], ['Belarus', 491.87], ['Guatemala', 486.39], ['Armenia', 486.1], ['Bolivia', 456.19], ['Kazakhstan', 437.75], ['Vietnam', 436.39], ['Argentina', 430.81], ['El Salvador', 415.0], ['Kosovo (Disputed Territory)', 414.1], ['North Macedonia', 410.4], ['Peru', 406.27], ['Albania', 401.08], ['Kenya', 398.81], ['Ukraine', 397.48], ['Moldova', 392.29], ['Iran', 391.28], ['Brazil', 382.45], ['Dominican Republic', 374.39], ['Morocco', 368.39], ['Azerbaijan', 358.65], ['Indonesia', 340.57], ['Turkey', 325.87], ['Philippines', 297.28], ['Uzbekistan', 286.56], ['Libya', 286.23], ['Colombia', 283.49], ['Tunisia', 275.62], ['Algeria', 263.1], ['Bangladesh', 247.79], ['Nepal', 194.42], ['Venezuela', 181.03], ['Egypt', 170.78], ['Nigeria', 162.46], ['Pakistan', 161.16], ['Ghana', 153.77], ['Sri Lanka', 145.47]]

In [39]:
df = pd.DataFrame(result, columns=['Country', 'Average Salary'])
df

           Country  Average Salary
0      Switzerland         5840.44
1            Qatar         5314.95
2        Singapore         4619.45
3    United States         4145.13
4        Australia         4114.14
..             ...             ...
99           Egypt          170.78
100        Nigeria          162.46
101       Pakistan          161.16
102          Ghana          153.77
103      Sri Lanka          145.47

[104 rows x 2 columns]

In [40]:
df.to_csv('datasets\CountriesAverageSalary.csv', sep=";", index=False)