In [63]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re

In [64]:
r = requests.get("https://www.numbeo.com/cost-of-living/country_price_rankings?itemId=105", cookies={"srb_1":"1_wl"})

soup = BeautifulSoup(r.text, "html.parser")

salaries = soup.find_all("tr", class_="tr_standard")
print(salaries)

[<tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
1.
</td><td style="vertical-align: top">
Switzerland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 100%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
5,794.60 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
2.
</td><td style="vertical-align: top">
Qatar</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 81%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
4,697.97 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
3.
</td><td style="vertical-align: top">
Singapore</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 79%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
4,555.73 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
4.
</td><td style="vertical-align: top">
United States</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 72%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
4,153.50 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
5.
</td><td style="vertical-align: top">
Australia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 72%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
4,148.65 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
6.
</td><td style="vertical-align: top">
United Arab Emirates</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 64%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,682.24 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
7.
</td><td style="vertical-align: top">
Norway</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 59%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,389.91 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
8.
</td><td style="vertical-align: top">
New Zealand</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 58%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,377.44 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
9.
</td><td style="vertical-align: top">
Denmark</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 58%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,371.41 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
10.
</td><td style="vertical-align: top">
Netherlands</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 56%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,238.08 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
11.
</td><td style="vertical-align: top">
Bahrain</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 56%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,217.67 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
12.
</td><td style="vertical-align: top">
Canada</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 54%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,129.23 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
13.
</td><td style="vertical-align: top">
Iceland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 53%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,081.36 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
14.
</td><td style="vertical-align: top">
Hong Kong</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 52%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
3,039.89 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
15.
</td><td style="vertical-align: top">
Germany</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 49%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,867.55 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
16.
</td><td style="vertical-align: top">
Ireland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 48%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,782.34 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
17.
</td><td style="vertical-align: top">
United Kingdom</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 47%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,736.72 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
18.
</td><td style="vertical-align: top">
Israel</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 46%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,666.95 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
19.
</td><td style="vertical-align: top">
Kuwait</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 46%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,639.01 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
20.
</td><td style="vertical-align: top">
Finland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 45%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,612.21 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
21.
</td><td style="vertical-align: top">
Sweden</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 45%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,604.25 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
22.
</td><td style="vertical-align: top">
Japan</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 42%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,450.09 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
23.
</td><td style="vertical-align: top">
Belgium</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 42%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,448.46 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
24.
</td><td style="vertical-align: top">
France</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 41%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,394.86 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
25.
</td><td style="vertical-align: top">
Austria</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 40%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,299.06 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
26.
</td><td style="vertical-align: top">
South Korea</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 39%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,249.67 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
27.
</td><td style="vertical-align: top">
Saudi Arabia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 38%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
2,219.85 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
28.
</td><td style="vertical-align: top">
Spain</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 30%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,759.67 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
29.
</td><td style="vertical-align: top">
Puerto Rico</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 30%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,737.18 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
30.
</td><td style="vertical-align: top">
Italy</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 27%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,539.76 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
31.
</td><td style="vertical-align: top">
Taiwan</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 26%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,501.07 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
32.
</td><td style="vertical-align: top">
Czech Republic</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 25%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,453.88 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
33.
</td><td style="vertical-align: top">
Cyprus</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 23%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,338.05 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
34.
</td><td style="vertical-align: top">
South Africa</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 23%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,306.42 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
35.
</td><td style="vertical-align: top">
Estonia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 22%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,301.56 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
36.
</td><td style="vertical-align: top">
Malta</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 22%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,279.72 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
37.
</td><td style="vertical-align: top">
Slovenia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 21%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,235.66 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
38.
</td><td style="vertical-align: top">
Lithuania</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 19%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,098.05 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
39.
</td><td style="vertical-align: top">
China</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 19%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,090.52 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
40.
</td><td style="vertical-align: top">
Poland</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 18%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,031.18 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
41.
</td><td style="vertical-align: top">
Portugal</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 18%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
1,020.96 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
42.
</td><td style="vertical-align: top">
Slovakia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 17%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
984.92 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
43.
</td><td style="vertical-align: top">
Latvia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 17%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
978.64 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
44.
</td><td style="vertical-align: top">
Croatia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 17%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
975.90 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
45.
</td><td style="vertical-align: top">
Malaysia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 15%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
874.44 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
46.
</td><td style="vertical-align: top">
Greece</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 14%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
835.65 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
47.
</td><td style="vertical-align: top">
Uruguay</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 14%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
823.85 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
48.
</td><td style="vertical-align: top">
Costa Rica</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 14%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
804.64 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
49.
</td><td style="vertical-align: top">
Hungary</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 14%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
797.54 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
50.
</td><td style="vertical-align: top">
Trinidad And Tobago</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 14%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
792.82 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
51.
</td><td style="vertical-align: top">
Russia</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
773.73 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
52.
</td><td style="vertical-align: top">
Bulgaria</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
753.51 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
53.
</td><td style="vertical-align: top">
Panama</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
745.34 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
54.
</td><td style="vertical-align: top">
Iraq</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
744.31 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
55.
</td><td style="vertical-align: top">
Palestine</td><td style="width: 200px; vertical-align: middle">
<span style="display: inline-block; width: 13%; background-color: #7070ff; height: 0.7em;"></span></td><td style="vertical-align: top; text-align: right">
742.16 $</td></tr>, <tr class="tr_standard"><td style="white-space: nowrap; vertical-align: top">
56.
</td><td style="vertical-align: top">
Romania</td><td style="width: 200px; vertical-align: middle">

In [65]:
countries = []
salaries_final = []
for salary in salaries:
    r = salary.find_all("td", class_="")
    rr = re.findall('(<td style="vertical-align: top">)\n([a-zA-Z ()]+)(<\/td>)',str(r[1]))
    country = rr[0][1]
    rr2 = re.findall('([0-9,.]+)', str(r[-1]))
    s = rr2[0]
    countries.append(country)
    salaries_final.append(s)

5,794.60
4,697.97
4,555.73
4,153.50
4,148.65
3,682.24
3,389.91
3,377.44
3,371.41
3,238.08
3,217.67
3,129.23
3,081.36
3,039.89
2,867.55
2,782.34
2,736.72
2,666.95
2,639.01
2,612.21
2,604.25
2,450.09
2,448.46
2,394.86
2,299.06
2,249.67
2,219.85
1,759.67
1,737.18
1,539.76
1,501.07
1,453.88
1,338.05
1,306.42
1,301.56
1,279.72
1,235.66
1,098.05
1,090.52
1,031.18
1,020.96
984.92
978.64
975.90
874.44
835.65
823.85
804.64
797.54
792.82
773.73
753.51
745.34
744.31
742.16
738.10
674.89
646.86
642.91
616.78
600.16
587.69
580.06
568.96
554.86
520.18
509.71
494.11
493.37
491.22
491.08
489.32
458.46
435.74
434.05
425.90
415.68
415.00
405.33
403.34
399.34
399.14
397.85
389.58
388.70
385.30
371.83
371.69
359.38
335.26
326.16
322.13
295.53
284.66
283.35
281.48
271.84
261.59
250.00
194.27
186.44
172.00
162.30
161.32
154.76
145.60

In [66]:
print(countries)
print(salaries_final)

['Switzerland', 'Qatar', 'Singapore', 'United States', 'Australia', 'United Arab Emirates', 'Norway', 'New Zealand', 'Denmark', 'Netherlands', 'Bahrain', 'Canada', 'Iceland', 'Hong Kong', 'Germany', 'Ireland', 'United Kingdom', 'Israel', 'Kuwait', 'Finland', 'Sweden', 'Japan', 'Belgium', 'France', 'Austria', 'South Korea', 'Saudi Arabia', 'Spain', 'Puerto Rico', 'Italy', 'Taiwan', 'Czech Republic', 'Cyprus', 'South Africa', 'Estonia', 'Malta', 'Slovenia', 'Lithuania', 'China', 'Poland', 'Portugal', 'Slovakia', 'Latvia', 'Croatia', 'Malaysia', 'Greece', 'Uruguay', 'Costa Rica', 'Hungary', 'Trinidad And Tobago', 'Russia', 'Bulgaria', 'Panama', 'Iraq', 'Palestine', 'Romania', 'Mexico', 'Jordan', 'Lebanon', 'Montenegro', 'Chile', 'Bosnia And Herzegovina', 'Jamaica', 'Serbia', 'India', 'Thailand', 'Honduras', 'Mauritius', 'Ecuador', 'Guatemala', 'Belarus', 'Armenia', 'Bolivia', 'Kazakhstan', 'Vietnam', 'Argentina', 'Kosovo (Disputed Territory)', 'El Salvador', 'North Macedonia', 'Peru', 'Albania', 'Kenya', 'Ukraine', 'Iran', 'Moldova', 'Brazil', 'Dominican Republic', 'Morocco', 'Azerbaijan', 'Indonesia', 'Turkey', 'Paraguay', 'Philippines', 'Libya', 'Colombia', 'Uzbekistan', 'Tunisia', 'Algeria', 'Bangladesh', 'Nepal', 'Venezuela', 'Egypt', 'Nigeria', 'Pakistan', 'Ghana', 'Sri Lanka']
['5,794.60', '4,697.97', '4,555.73', '4,153.50', '4,148.65', '3,682.24', '3,389.91', '3,377.44', '3,371.41', '3,238.08', '3,217.67', '3,129.23', '3,081.36', '3,039.89', '2,867.55', '2,782.34', '2,736.72', '2,666.95', '2,639.01', '2,612.21', '2,604.25', '2,450.09', '2,448.46', '2,394.86', '2,299.06', '2,249.67', '2,219.85', '1,759.67', '1,737.18', '1,539.76', '1,501.07', '1,453.88', '1,338.05', '1,306.42', '1,301.56', '1,279.72', '1,235.66', '1,098.05', '1,090.52', '1,031.18', '1,020.96', '984.92', '978.64', '975.90', '874.44', '835.65', '823.85', '804.64', '797.54', '792.82', '773.73', '753.51', '745.34', '744.31', '742.16', '738.10', '674.89', '646.86', '642.91', '616.78', '600.16', '587.69', '580.06', '568.96', '554.86', '520.18', '509.71', '494.11', '493.37', '491.22', '491.08', '489.32', '458.46', '435.74', '434.05', '425.90', '415.68', '415.00', '405.33', '403.34', '399.34', '399.14', '397.85', '389.58', '388.70', '385.30', '371.83', '371.69', '359.38', '335.26', '326.16', '322.13', '295.53', '284.66', '283.35', '281.48', '271.84', '261.59', '250.00', '194.27', '186.44', '172.00', '162.30', '161.32', '154.76', '145.60']

In [74]:
result = []
for i in range(len(countries)):
    result.append([countries[i], salaries_final[i]])
print(result)

[['Switzerland', '5,794.60'], ['Qatar', '4,697.97'], ['Singapore', '4,555.73'], ['United States', '4,153.50'], ['Australia', '4,148.65'], ['United Arab Emirates', '3,682.24'], ['Norway', '3,389.91'], ['New Zealand', '3,377.44'], ['Denmark', '3,371.41'], ['Netherlands', '3,238.08'], ['Bahrain', '3,217.67'], ['Canada', '3,129.23'], ['Iceland', '3,081.36'], ['Hong Kong', '3,039.89'], ['Germany', '2,867.55'], ['Ireland', '2,782.34'], ['United Kingdom', '2,736.72'], ['Israel', '2,666.95'], ['Kuwait', '2,639.01'], ['Finland', '2,612.21'], ['Sweden', '2,604.25'], ['Japan', '2,450.09'], ['Belgium', '2,448.46'], ['France', '2,394.86'], ['Austria', '2,299.06'], ['South Korea', '2,249.67'], ['Saudi Arabia', '2,219.85'], ['Spain', '1,759.67'], ['Puerto Rico', '1,737.18'], ['Italy', '1,539.76'], ['Taiwan', '1,501.07'], ['Czech Republic', '1,453.88'], ['Cyprus', '1,338.05'], ['South Africa', '1,306.42'], ['Estonia', '1,301.56'], ['Malta', '1,279.72'], ['Slovenia', '1,235.66'], ['Lithuania', '1,098.05'], ['China', '1,090.52'], ['Poland', '1,031.18'], ['Portugal', '1,020.96'], ['Slovakia', '984.92'], ['Latvia', '978.64'], ['Croatia', '975.90'], ['Malaysia', '874.44'], ['Greece', '835.65'], ['Uruguay', '823.85'], ['Costa Rica', '804.64'], ['Hungary', '797.54'], ['Trinidad And Tobago', '792.82'], ['Russia', '773.73'], ['Bulgaria', '753.51'], ['Panama', '745.34'], ['Iraq', '744.31'], ['Palestine', '742.16'], ['Romania', '738.10'], ['Mexico', '674.89'], ['Jordan', '646.86'], ['Lebanon', '642.91'], ['Montenegro', '616.78'], ['Chile', '600.16'], ['Bosnia And Herzegovina', '587.69'], ['Jamaica', '580.06'], ['Serbia', '568.96'], ['India', '554.86'], ['Thailand', '520.18'], ['Honduras', '509.71'], ['Mauritius', '494.11'], ['Ecuador', '493.37'], ['Guatemala', '491.22'], ['Belarus', '491.08'], ['Armenia', '489.32'], ['Bolivia', '458.46'], ['Kazakhstan', '435.74'], ['Vietnam', '434.05'], ['Argentina', '425.90'], ['Kosovo (Disputed Territory)', '415.68'], ['El Salvador', '415.00'], ['North Macedonia', '405.33'], ['Peru', '403.34'], ['Albania', '399.34'], ['Kenya', '399.14'], ['Ukraine', '397.85'], ['Iran', '389.58'], ['Moldova', '388.70'], ['Brazil', '385.30'], ['Dominican Republic', '371.83'], ['Morocco', '371.69'], ['Azerbaijan', '359.38'], ['Indonesia', '335.26'], ['Turkey', '326.16'], ['Paraguay', '322.13'], ['Philippines', '295.53'], ['Libya', '284.66'], ['Colombia', '283.35'], ['Uzbekistan', '281.48'], ['Tunisia', '271.84'], ['Algeria', '261.59'], ['Bangladesh', '250.00'], ['Nepal', '194.27'], ['Venezuela', '186.44'], ['Egypt', '172.00'], ['Nigeria', '162.30'], ['Pakistan', '161.32'], ['Ghana', '154.76'], ['Sri Lanka', '145.60']]

In [75]:
df = pd.DataFrame(result, columns=['Country', 'Average Salary'])
df

           Country Average Salary
0      Switzerland       5,794.60
1            Qatar       4,697.97
2        Singapore       4,555.73
3    United States       4,153.50
4        Australia       4,148.65
..             ...            ...
101          Egypt         172.00
102        Nigeria         162.30
103       Pakistan         161.32
104          Ghana         154.76
105      Sri Lanka         145.60

[106 rows x 2 columns]

In [77]:
df.to_csv('datasets\CountriesAverageSalary.csv', sep=";", index=False)